<template>
    <div class="content">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="m-0 text-dark">Categorias</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCrearCategoria">
                    Crear categoria
                </button>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                    </thead>
                    <tbody>
                    <tr v-for="categoria in categorias.data" :key="categoria.id">
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td>
                            <span v-if="categoria.estado" class="badge badge-success">Habilitado</span>
                            <span v-else class="badge badge-danger">Deshabilitado</span>
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm" title="Editar" @click.prevent="editarCategoriaModal(categoria)">
                                <i class="fas fa-edit"></i>
                            </button>
<!--                            <button class="btn btn-danger btn-sm" title="Eliminar" @click.prevent="eliminarCategoria(categoria.id)">-->
<!--                                <i class="fas fa-trash"></i>-->
<!--                            </button>-->
                        </td>
                    </tr>
                    <tr v-if="esta_vacio">
                        <td colspan="4">No se encontraron resultados</td>
                    </tr>
                    </tbody>
                </table>

                <pagination :data="categorias" @pagination-change-page="getResults"
                            :limit="4">
                </pagination>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <div class="modal fade" id="modalEditarCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="actualizarProd()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input v-model="form.nombre" type="text" name="nombre" id="nombre" placeholder="Pañal"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('nombre') }">
                                    <has-error :form="form" field="nombre"></has-error>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" v-model="form.estado" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1">{{ getEstado }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <modal-crear-categoria @recargarListadoCategorias="getResults"></modal-crear-categoria>
    </div>
</template>

<script>

import pagination from "../pagination/LaravelVuePagination";
import Form from 'vform/src/Form';
import ModalCrearCategoria from "./ModalCrearCategoria";

export default {
    name: "CategoriasListado",
    components: {
        pagination,
        ModalCrearCategoria
    },

    data() {
        return {
            categorias: {},
            form: new Form({
                id: '',
                nombre: '',
                estado: ''
            }),
            esta_vacio: true,
        }
    },

    computed:{
        getEstado(){
            return this.form.estado ? "Habilitado" : "Deshabilitado";
        }
    },

    methods: {

        getResults(page = 1){
            this.$store.dispatch('loading/cargar');
            axios.get('api/categorias?page=' + page)
                .then(response => {
                    this.categorias = response.data;
                    this.esta_vacio = this.categorias.data.length <= 0;
                    this.$store.dispatch('loading/finCargando');
                });
        },

        editarCategoriaModal(categoria){
            this.form.reset();
            $("#modalEditarCategoria").modal("show");
            this.form.fill(categoria)
        },

        actualizarProd(){
            this.form.put('api/categorias/'+ this.form.id)
                .then(response => {
                    $("#modalEditarCategoria").modal("hide");
                    this.$swal({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'La actualizacion se realizo exitosamente',
                    });
                    this.getResults();
                }).catch(response => {
                this.$swal({
                    icon: 'error',
                    title: 'Error',
                    text: 'Algo salió mal',
                });
            })
        },

        // eliminarCategoria(id){
        //     this.$swal({
        //         icon: 'warning',
        //         title: 'Advertencia',
        //         text: '¿Esta seguro que quiere eliminar este producto?',
        //         confirmButtonColor: '#dd3333',
        //     }).then((result) => {
        //         if (result.value) {
        //             this.form.delete('api/categorias/'+id)
        //                 .then(response => {
        //                     this.$swal({
        //                         icon: 'success',
        //                         title: 'Éxito',
        //                         text: 'La eliminación se realizo exitosamente',
        //                     });
        //                     this.getResults();
        //                 }).catch(response => {
        //                 this.$swal({
        //                     icon: 'error',
        //                     title: 'Error',
        //                     text: 'Algo salió mal',
        //                 });
        //             })
        //         }
        //     });
        // },

    },

    created() {
        this.getResults();
    }
}
</script>

<style scoped>

</style>
