<template>
    <div class="container-fluid mt-4">
        <div class="modal fade" id="modalCrearCategoria" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva categoria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="crearCategoria()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input v-model="form.nombre" type="text" name="nombre" id="nombre" placeholder="Ej. Pañales"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('nombre') }">
                                    <has-error :form="form" field="nombre"></has-error>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" @click="cerrarModal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>
</template>

<script>
import Form from "vform/src/Form";

export default {
    name: "ModalCrearCategoria",

    data() {
        return {
            form: new Form({
                id: '',
                nombre: '',
            }),
        }
    },

    methods:{
        crearCategoria() {
            this.form.post('/api/categorias', this.form)
                .then(response => {
                    this.$swal({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'La categoria se creó exitosamente',
                    });
                    this.$emit('recargarListadoCategorias');
                    this.cerrarModal();
                }).catch(response => {
                    this.$swal({
                        icon: 'error',
                        title: 'Error',
                        text: 'Algo salió mal',
                    });
            })
        },

        cerrarModal(){
            this.form.reset();
            $("#modalCrearCategoria").modal('hide');
        }
    },

}
</script>

<style scoped>

</style>
