<template>
    <div>
        <div class="modal fade" id="modalCrearProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="crearProducto()">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="nombre">Código</label>
                                            <input v-model="form.id" type="text" name="id" id="id" class="form-control"
                                                   :class="{ 'is-invalid': form.errors.has('id') }">
                                            <has-error :form="form" field="id"></has-error>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            <input v-model="form.nombre" type="text" name="nombre" id="nombre" placeholder="Confort sec"
                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('nombre') }">
                                            <has-error :form="form" field="nombre"></has-error>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="descripcion">Descripción</label>
                                            <input v-model="form.descripcion" type="text" name="descripcion" id="descripcion" placeholder="26 unidades talle M"
                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('descripcion') }">
                                            <has-error :form="form" field="descripcion"></has-error>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group" v-if="$gate.isAdmin()">
                                            <label for="markup">Markup(%)</label>
                                            <input v-model.number="form.markup" type="number" name="markup" id="markup" min="0" step=".01"
                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('markup') }">
                                            <has-error :form="form" field="markup"></has-error>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>
                                                Marca
                                                <span class="badge badge-warning" @click.prevent="abrirModalMarca" type="button">Crear nueva</span>
                                            </label>
                                            <v-select
                                                :options="marcas"
                                                @search="getMarcas"
                                                v-model="form.marca_id"
                                                :reduce="marca => marca.id"
                                                :required="true"
                                            >
                                                <div slot="no-options">No se encontraron resultados</div>
                                            </v-select>
                                            <has-error :form="form" field="marca_id"></has-error>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>
                                                Categorias
                                                <span class="badge badge-info" @click.prevent="abrirModalCategoria" type="button">Crear nueva</span>
                                            </label>
                                            <v-select
                                                :options="categorias"
                                                @search="getCategorias"
                                                v-model="form.categoria_id"
                                                :reduce="categoria => categoria.id"
                                                :required="true"
                                            >
                                                <div slot="no-options">No se encontraron resultados</div>
                                            </v-select>

                                            <has-error :form="form" field="categoria_id"></has-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" @click="cerrarModal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <modal-crear-categoria></modal-crear-categoria>

        <modal-crear-marca></modal-crear-marca>
    </div>



</template>

<script>
import Form from "vform/src/Form";
import ModalCrearCategoria from "../categorias/ModalCrearCategoria";
import ModalCrearMarca from "../marcas/ModalCrearMarca";
import vSelect from 'vue-select';

export default {
    name: "ModalCrearProducto",

    components:{
        ModalCrearCategoria,
        ModalCrearMarca,
        vSelect
    },

    data() {
        return {
            form: new Form({
                id: '',
                nombre: '',
                descripcion: '',
                markup:0,
                marca_id: '',
                categoria_id: '',
            }),
            marcas: [],
            categorias: [],
        }
    },

    methods:{
        abrirModalCategoria(){
            $("#modalCrearCategoria").modal('show');
        },

        abrirModalMarca(){
            $("#modalCrearMarca").modal('show');
        },

        crearProducto() {
            this.form.post('/api/productos')
                .then(response => {
                    this.$swal({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'El producto se creó exitosamente',
                    });
                    this.$emit('recargarListadoProductos');
                    this.cerrarModal();
                }).catch(response => {
                    this.$swal({
                        icon: 'error',
                        title: 'Error',
                        text: 'Algo salió mal',
                    });
            })
        },

        cerrarModal(){
            this.form.reset();
            $("#modalCrearProducto").modal('hide');
        },

        getMarcas(buscar, loading = true){
            if (buscar.length < 3){
                return;
            }
            axios.get('/api/marcas/buscar', {
                params: {
                    search: buscar
                }
            }).then(response => {
                this.marcas = response.data.data;
            })
        },

        getCategorias(search, loading = true){
            if (search.length < 3){
                return;
            }
            axios.get('/api/categorias/buscar', {
                params: {
                    search: search
                }
            }).then(response => {
                this.categorias = response.data.data;
            })
        }
    },

}
</script>

<style scoped>

</style>
