<template>
    <div class="content">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="m-0 text-dark">Productos</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCrearProducto">
                    Crear producto
                </button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="offset-8 col-4 text-right">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search"
                           placeholder="Buscar (minimo 3 letras)" aria-label="Search"
                           v-model="search">
                    <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fas fa-search"></i>
                </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th style="width: 8%">Código</th>
                        <th style="width: 12%">Producto</th>
                        <th style="width: 15%">Descripción</th>
                        <th style="width: 10%">Marca</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th v-if="$gate.isAdmin()">Markup (%)</th>
                        <th>Opciones</th>
                    </tr>
                    <tr>
                        <td style="width: 8%">
                            <input type="text" class="input-sm w-50" v-model.number="params.id">
                        </td>
                        <th style="width: 12%">
                            <input type="text" v-model.number="params.nombre">
                        </th>
                        <th style="width: 15%">
                            <input type="text" v-model.number="params.descripcion">
                        </th>
                        <th style="width: 10%">
                            <select class="form-control" v-model.number="params.marca_id">
                                <option value="" selected>Todos</option>
                                <option :value="marca.id" v-for="marca in marcas">{{ marca.nombre }}</option>
                            </select>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="producto in productos.data" :key="producto.id">
                            <td style="width: 8%">{{ producto.id }}</td>
                            <td style="width: 12%">{{ producto.nombre }}</td>
                            <td style="width: 15%">{{ producto.descripcion }}</td>
                            <td style="width: 10%">{{ producto.marca.nombre }}</td>
                            <td>{{ producto.categoria.nombre }}</td>
                            <td>${{ producto.precio }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td v-if="$gate.isAdmin()">{{ producto.markup }}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" title="Editar" @click.prevent="editarProductoModal(producto)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button v-if="$gate.isAdmin()" class="btn btn-danger btn-sm" title="Eliminar" @click.prevent="eliminarProducto(producto.id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr v-if="esta_vacio">
                            <td colspan="9">No se encontraron resultados</td>
                        </tr>
                    </tbody>
                </table>

                <pagination :data="productos" @pagination-change-page="getResults"
                            :limit="4">
                </pagination>


            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="actualizarProd()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input v-model="form.nombre" type="text" name="nombre" id="nombre" placeholder="Pañal"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('nombre') }">
                                    <has-error :form="form" field="nombre"></has-error>
                                </div>

                                <div class="form-group">
                                    <label for="descripcion">Descripción</label>
                                    <input v-model="form.descripcion" type="text" name="descripcion" id="descripcion" placeholder="Confort sec"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('descripcion') }">
                                    <has-error :form="form" field="descripcion"></has-error>
                                </div>

                                <div class="form-group" v-if="$gate.isAdmin()">
                                    <label for="markup">Markup(%)</label>
                                    <input v-model.number="form.markup" type="number" name="markup" id="markup" placeholder="Name" min="1" step=".01"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('markup') }">
                                    <has-error :form="form" field="markup"></has-error>
                                </div>

                                <div class="form-group" v-if="$gate.isAdmin()">
                                    <label for="markup">Precio de compra unitario</label>
                                    <input v-model.number="form.precio_compra" type="number" name="precio_compra" id="precio_compra" placeholder="Name" min="1" step=".01"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('precio_compra') }">
                                    <has-error :form="form" field="precio_compra"></has-error>
                                </div>

                                <div class="form-group">
                                    <label for="marca_id">Marca</label>
                                    <select v-model="form.marca_id" name="marca_id" id="marca_id" class="form-control" :class="{ 'is-invalid': form.errors.has('marca_id') }">
                                        <option v-for="marca in marcas" :value="marca.id" :key="marca.id" :selected="marca.id === form.marca_id">{{ marca.nombre }}</option>
                                    </select>
                                    <has-error :form="form" field="marca_id"></has-error>
                                </div>

                                <div class="form-group">
                                    <label for="marca_id">Categorias</label>
                                    <select v-model="form.categoria_id" name="categoria_id" id="categoria_id" class="form-control" :class="{ 'is-invalid': form.errors.has('categoria_id') }">
                                        <option v-for="categoria in categorias" :value="categoria.id" :key="categoria.id" :selected="categoria.id === form.categoria_id">{{ categoria.nombre }}</option>
                                    </select>
                                    <has-error :form="form" field="categoria_id"></has-error>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <modal-crear-producto @recargarListadoProductos="getResults"></modal-crear-producto>
    </div>
</template>

<script>

import pagination from "../pagination/LaravelVuePagination";
import _ from 'lodash';
import Form from 'vform/src/Form';
import ModalCrearProducto from "./ModalCrearProducto";

export default {
    name: "ProductosListado",
    components: {
        pagination,
        ModalCrearProducto
    },

    data() {
        return {
            params: {
                id: '',
                nombre: '',
                descripcion: '',
                // marca: '',
            },
            search: '',
            esta_vacio: true,
            form: new Form({
                id: '',
                nombre: '',
                descripcion: '',
                markup: '',
                precio_compra:'',
                marca_id: '',
                categoria_id: ''
            }),
            marcas: [],
            categorias: [],
            productos: {}
        }
    },

    watch:{
        params:{
            handler() {
                this.getResults();
            },
            deep: true
        },
        search (val, old) {
            if (val.length >=3 || old.length >= 3) {
                this.getResults();
            }
        }
    },

    methods: {

        getResults(page = 1){
            this.$store.dispatch('loading/cargar');
            axios.get('api/productos', {
                params: {
                    page,
                    search: this.search.length >= 3 ? this.search : '',
                    ...this.params
                }
            })
                .then(response => {
                    this.productos = response.data;
                    this.esta_vacio = this.productos.data.length <= 0;
                    this.$store.dispatch('loading/finCargando');
                });
        },

        buscar(){
            this.buscarProducto(this.termino);
            this.getProductos();
        },

        editarProductoModal(producto){
            this.form.reset();
            $("#modalEditarProducto").modal("show");
            this.form.id = producto.id;
            this.form.nombre = producto.nombre;
            this.form.descripcion = producto.descripcion;
            this.form.markup = producto.markup;
            this.form.precio_compra = producto.compras.length > 0 ? producto.compras[0].precio_unitario : 0;
            this.form.marca_id = producto.marca_id;
            this.form.categoria_id = producto.categoria_id;
        },

        actualizarProd(){
            this.form.put('api/productos/'+ this.form.id)
                .then(response => {
                    this.$emit('Reload');
                    $("#modalEditarProducto").modal("hide");
                    this.$swal({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'La actualizacion se realizo exitosamente',
                    });
                }).catch(response => {
                    this.$swal({
                        icon: 'error',
                        title: 'Error',
                        text: 'Algo salió mal',
                    });
            })
        },

        eliminarProducto(id){
            this.$swal({
                icon: 'warning',
                title: 'Advertencia',
                text: '¿Esta seguro que quiere eliminar este producto?',
                confirmButtonColor: '#dd3333',
            }).then((result) => {
                if (result.value) {
                    this.form.delete('api/productos/'+id)
                        .then(response => {
                            this.$swal({
                                icon: 'success',
                                title: 'Éxito',
                                text: 'La eliminación se realizo exitosamente',
                            });
                            this.$emit('Reload');
                        }).catch(response => {
                            this.$swal({
                                icon: 'error',
                                title: 'Error',
                                text: 'Algo salió mal',
                            });
                    })
                }
            });
        },

        getMarcas(){
            axios.get('/api/marcas')
                .then(response => {
                    this.marcas = response.data.data
                }).catch(response => {
                    console.error(response)
            })
        },

        getCategorias(){
            axios.get('/api/categorias')
                .then(response => {
                    this.categorias = response.data.data
                }).catch(response => {
                console.error(response)
            })
        }

    },


    created() {
        this.buscar = _.debounce(this.buscar, 1000);
        this.getMarcas();
        this.getCategorias();
        this.getResults();
        this.$on('Reload', () => {
            this.getResults();
        })
    }
}
</script>

<style scoped>

</style>
