<template>
    <div class="content">
        <h1 class="m-0 text-dark">Nueva venta</h1>

        <div class="row mt-4" v-if="esta_cerrada">
            <div class="col-12">
                <div class="alert alert-danger text-center" role="alert">
                    No se puede realizar nuevas ventas. La caja está cerrada
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="offset-8 col-4 text-right">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search"
                           placeholder="Buscar (minimo 3 letras)" aria-label="Search"
                           v-model="search">
                    <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fas fa-search"></i>
                </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid mt-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th style="width: 8%">Código</th>
                        <th style="width: 12%">Producto</th>
                        <th style="width: 15%">Descripción</th>
                        <th style="width: 10%">Marca</th>
                        <th>Categoria</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                    <tr>
                        <td style="width: 8%">
                            <input type="text" class="input-sm w-50" v-model.number="params.id">
                        </td>
                        <th style="width: 12%">
                            <input type="text" v-model.number="params.nombre">
                        </th>
                        <th style="width: 15%">
                            <input type="text" v-model.number="params.descripcion">
                        </th>
                        <th style="width: 10%">
                            <select class="form-control" v-model.number="params.marca_id">
                                <option value="" selected>Todos</option>
                                <option :value="marca.id" v-for="marca in marcas">{{ marca.nombre }}</option>
                            </select>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                        <producto v-for="producto in productos.data" :key="producto.id"
                                  :producto="producto"
                                  :esta_cerrada="esta_cerrada"
                        />
                        <tr v-if="esta_vacio">
                            <td colspan="8">No se encontraron resultados</td>
                        </tr>
                    </tbody>
                </table>

                <pagination :data="productos" @pagination-change-page="getResults"
                            :limit="4">
                </pagination>

                <div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form @submit.prevent="actualizarProd()">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            <input v-model="form.nombre" type="text" name="nombre" id="nombre" placeholder="Pañal"
                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('nombre') }">
                                            <has-error :form="form" field="nombre"></has-error>
                                        </div>

                                        <div class="form-group">
                                            <label for="descripcion">Descripción</label>
                                            <input v-model="form.descripcion" type="text" name="descripcion" id="descripcion" placeholder="Confort sec"
                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('descripcion') }">
                                            <has-error :form="form" field="descripcion"></has-error>
                                        </div>

                                        <div class="form-group">
                                            <label for="markup">Markup(%)</label>
                                            <input v-model.number="form.markup" type="number" name="markup" id="markup" placeholder="Name" min="1" step=".01"
                                                   class="form-control" :class="{ 'is-invalid': form.errors.has('markup') }">
                                            <has-error :form="form" field="markup"></has-error>
                                        </div>

                                        <div class="form-group">
                                            <label for="marca_id">Marca</label>
                                            <select v-model="form.marca_id" name="marca_id" id="marca_id" class="form-control" :class="{ 'is-invalid': form.errors.has('marca_id') }">
                                                <option v-for="marca in marcas" :value="marca.id" :key="marca.id" :selected="marca.id === form.marca_id">{{ marca.nombre }}</option>
                                            </select>
                                            <has-error :form="form" field="marca_id"></has-error>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</template>

<script>

import pagination from "../pagination/LaravelVuePagination";
import _ from 'lodash';
import Form from 'vform/src/Form';
import Producto from "../ventas/Producto";

export default {
    name: "ProductosDisponiblesListado",
    components: {
        pagination,
        Producto
    },

    data() {
        return {
            termino: '',
            form: new Form({
                id: '',
                nombre: '',
                descripcion: '',
                markup: '',
                marca_id: '',
            }),
            esta_vacio: true,
            esta_cerrada: false,
            params: {
                id: '',
                nombre: '',
                descripcion: '',
                // marca: '',
            },
            search: '',
            marcas: [],
            productos: {}
        }
    },

    watch:{
        params:{
            handler() {
                this.getResults();
            },
            deep: true
        },
        search (val, old) {
            if (val.length >=3 || old.length >= 3) {
                this.getResults();
            }
        }
    },

    methods: {

        getResults(page = 1){
            this.$store.dispatch('loading/cargar');
            axios.get('/api/productos/disponibles', {
                params: {
                    page,
                    search: this.search.length >= 3 ? this.search : '',
                    ...this.params
                }
            }).then(response => {
                this.productos = response.data;
                this.esta_vacio = this.productos.data.length <= 0;
                this.$store.dispatch('loading/finCargando');
            });
        },

        getCierre(){
            axios.get('/api/cierre')
                .then(response => {
                    console.log(response.data.data)
                    this.esta_cerrada = response.data.data.id ? true : false;
                });
        },

        cerrarCaja(){
            this.$store.dispatch('loading/cargar');
            this.$swal({
                icon: 'warning',
                title: 'Advertencia',
                text: '¿Esta seguro que quiere proceder con el cierre de caja?',
                confirmButtonColor: '#dd3333',
            }).then((result) => {
                if (result.value) {
                    axios.post('/api/cierre', {
                        total: this.total
                    }).then(response => {
                        this.$swal({
                            icon: 'success',
                            title: 'Éxito',
                            text: 'La eliminación se realizo exitosamente',
                        });
                        this.getResults();
                    }).catch(response => {
                        this.$swal({
                            icon: 'error',
                            title: 'Error',
                            text: 'Algo salió mal',
                        });
                    })
                }
            });
        },

        buscar(){
            this.buscarProducto(this.termino);
            this.getProductos();
        },

        editarProductoModal(producto){
            this.form.reset();
            $("#modalEditarProducto").modal("show");
            this.form.fill(producto)
        },

        getMarcas(){
            axios.get('/api/marcas')
                .then(response => {
                    this.marcas = response.data.data
                })
        },

    },


    created() {
        this.getMarcas();
        this.getResults();
        this.getCierre();
    }
}
</script>

<style scoped>

</style>
