<template>
    <div class="wrapper">
        <app-header />
        <side-bar />
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="card py-2 px-2">
                        <router-view></router-view>
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>

        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- Default to the left -->
            <strong>Sistema para el control de stock y facturación</strong>
        </footer>
        <cargando />
    </div>
</template>

<script>
import AppHeader from "./components/layout/AppHeader";
import SideBar from "./components/layout/SideBar";
import Cargando from "./components/Cargando";

export default {
    name: "App.vue",
    components: {
        AppHeader,
        SideBar,
        Cargando
    }
}
</script>

<style scoped>

</style>
