@import 'variables';
@import "~admin-lte/dist/css/adminlte.css";

$fa-font-path: "../webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~sweetalert2/src/sweetalert2";
@import "~vue-select/src/scss/vue-select";

.excerpt {
    display: block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor{
    cursor: pointer;
}
