<template>
    <div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge badge-danger navbar-badge">{{ cantidadArticulosCarrito }}</span>
                    </a>
                    <div @click="$event.stopPropagation()">
                        <carrito />
                    </div>
                </li>
            </ul>


        </nav>
        <!-- /.navbar -->
    </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import Carrito from "../carrito/Carrito";
import state from "../../store/modules/carrito/state";

export default {
    name: "AppHeader",

    components: {
        Carrito
    },

    computed: {
        ...mapGetters('carrito', ['cantidadArticulosCarrito']),
        ...mapState('carrito',['visible']),
    },

    methods: {
        cerrarCarrito(){
            $(".dropdown").dropdown('hide');
            state.visible = true;
        },

    },

    watch: {
        visible(newVal, oldVal) {
            if (!newVal){
                this.cerrarCarrito();
            }
        }
    }
}
</script>

<style scoped>
    .dropdown {
        position: static !important;
    }
</style>
