<template>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link text-center">
            <span class="brand-text font-weight-light">SCSyF</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="../../assets/user.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block excerpt">
                        <small>{{ user }}</small>
                    </a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-boxes text-orange" style="padding-right: 0.5em"></i>
                            <p>
                                Productos
                            </p>
                            <i class="fas fa-angle-left right"></i>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link :to="{name: 'productos'}" class="nav-link">
                                    <i class="fas fa-minus nav-icon"></i>
                                    <p>
                                        Listado
                                    </p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'categorias'}" class="nav-link">
                                    <i class="fas fa-minus nav-icon"></i>
                                    <p>
                                        Categorias
                                    </p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'marcas'}" class="nav-link">
                                    <i class="fas fa-minus nav-icon"></i>
                                    <p>
                                        Marcas
                                    </p>
                                </router-link>
                            </li>
                        </ul>

                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dolly text-cyan" style="padding-right: 0.7em"></i>
                            <p>
                                Compras
                            </p>
                            <i class="fas fa-angle-left right"></i>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link :to="{name: 'compras'}" class="nav-link">
                                    <i class="fas fa-minus nav-icon"></i>
                                    <p>
                                        Listado
                                    </p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'compra_nueva'}" class="nav-link">
                                    <i class="fas fa-minus nav-icon"></i>
                                    <p>
                                        Nueva
                                    </p>
                                </router-link>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-cash-register text-green" style="padding-right: 0.7em"></i>
                            <p>
                                Ventas
                            </p>
                            <i class="fas fa-angle-left right"></i>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link :to="{name: 'venta_nueva'}" class="nav-link">
                                    <i class="fas fa-minus nav-icon"></i>
                                    <p>
                                        Nueva
                                    </p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'venta_del_dia'}" class="nav-link">
                                    <i class="fas fa-minus nav-icon"></i>
                                    <p>
                                        Del día
                                    </p>
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name: 'ventas'}" class="nav-link">
                                    <i class="fas fa-minus nav-icon"></i>
                                    <p>
                                        Listado
                                    </p>
                                </router-link>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" v-if="$gate.isAdmin()">
                        <router-link :to="{name: 'usuarios'}" class="nav-link">
                            <i class="fas fa-users text-danger" style="padding-right: 0.5em"></i>
                            <p>
                                Usuarios
                            </p>
                        </router-link>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link cursor" @click="logout()">
                            <i class="nav-icon fas fa-power-off"></i>
                            <p>Salir</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</template>

<script>
export default {
    name: "SideBar",
    computed: {
        user() {
            if (user) {
                return user.name;
            }else {
                window.location = '/login';
                return;
            }
        }
    },

    methods: {
        logout(){
            this.$swal({
                title: 'Está seguro?',
                text: "Está a punto de salir del sistema",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.value) {
                    axios.post('/logout').then(response => {
                        window.location = '/login';
                        return;
                    });
                }
            });

        }
    }
}
</script>

