<template>
    <div>
        <ventas-listado></ventas-listado>
    </div>
</template>

<script>
import VentasListado from "../components/ventas/VentasListado";

export default {
    name: "PaginaVentas",
    components: {
        VentasListado
    }
}
</script>

<style scoped>

</style>
