<template>
    <div class="content">
        <div class="row">
            <div class="col">
                <h1 class="m-0 text-dark">Ventas del día</h1>
            </div>
            <div class="col text-right">
                <router-link :to="{name:'venta_nueva'}" v-if="!esta_cerrada" class="btn btn-success">Nueva venta</router-link>

                <button class="btn btn-danger" :disabled="esta_cerrada" @click="cerrarCaja">Cerrar caja</button>
            </div>
        </div>

        <div class="row mt-4" v-if="esta_cerrada">
            <div class="col-12">
                <div class="alert alert-danger text-center" role="alert">
                    No se puede realizar nuevas ventas. La caja está cerrada
                </div>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <th>Código</th>
                    <th>Cant. productos</th>
                    <th>Forma de pago</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Opciones</th>
                    </thead>
                    <tbody>
                    <tr v-for="venta in ventas.data" :key="venta.id">
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.productos_count }}</td>
                        <td>{{ venta.forma_de_pago.nombre }}</td>
                        <td>{{ venta.usuario.name }}</td>
                        <td>{{ venta.created_at | formatearFecha }}</td>
                        <td>${{ venta.total }}</td>
                        <td>
                            <router-link :to="{name:'venta', params:{id:venta.id}}" class="btn btn-info btn-sm" title="Detalle" >
                                <i class="fas fa-eye"></i>
                            </router-link>
                            <!--                            <button class="btn btn-danger btn-sm" title="Eliminar" @click="eliminarCompra(ventas)">-->
                            <!--                                <i class="fas fa-trash"></i>-->
                            <!--                            </button>-->
                        </td>
                    </tr>
                    <tr v-if="total === 0">
                        <td colspan="7">No se encontraron resultados</td>
                    </tr>
                    </tbody>
                    <tfoot v-if="total !== 0">
                        <tr class="table-success text-bold" style="font-size: 1.2em">
                            <td colspan="5">Total</td>
                            <td colspan="2">${{ total }}</td>
                        </tr>
                    </tfoot>
                </table>


            </div>
            <!-- /.row -->
        </div>
    </div>
</template>

<script>

export default {
    name: "PaginaVentasDelDia",


    data(){
        return {
            ventas: [],
            total: 0,
            esta_cerrada: false
        }
    },

    methods: {
        getResults(page = 1){
            this.$store.dispatch('loading/cargar');
            axios.get('/api/ventas/hoy?page=' + page)
                .then(response => {
                    this.ventas = response.data;
                    this.total = this.ventas.data.reduce((sum, item) => sum + parseFloat(item.total), 0);
                    this.$store.dispatch('loading/finCargando');
                });
        },

        getCierre(){

            axios.get('/api/cierre')
                .then(response => {
                    this.esta_cerrada = response.data.data.id ? true : false;
                }).catch(response => {
                    this.$swal({
                        icon: 'error',
                        title: 'Error',
                        text: 'Algo salió mal',
                    });
            }).finally(response => {
                this.$store.dispatch('loading/finCargando');
            });
        },

        cerrarCaja(){
            this.$swal({
                icon: 'warning',
                title: 'Advertencia',
                text: '¿Esta seguro que quiere proceder con el cierre de caja?',
                confirmButtonColor: '#dd3333',
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('loading/cargar');
                    axios.post('/api/cierre', {
                        total: this.total
                    }).then(response => {
                        this.$swal({
                            icon: 'success',
                            title: 'Éxito',
                            text: 'El cierre de caja se realizo exitosamente',
                        });
                        this.esta_cerrada = true;
                        this.getResults();
                    }).catch(response => {
                        this.$swal({
                            icon: 'error',
                            title: 'Error',
                            text: 'Algo salió mal',
                        });
                    }).finally(response => {
                        this.$store.dispatch('loading/finCargando');
                    });
                }
            });
        },

        eliminarCompra(compra){
            this.$swal({
                icon: 'warning',
                title: 'Advertencia',
                text: '¿Esta seguro que quiere eliminar este producto?',
                confirmButtonColor: '#dd3333',
            }).then((result) => {
                if (result.value) {
                    console.log(compra.id)
                    axios.delete('api/compras/' + compra.id)
                        .then(response => {
                            this.$swal({
                                icon: 'success',
                                title: 'Éxito',
                                text: 'La eliminación se realizo exitosamente',
                            });
                            this.getResults();
                        }).catch(response => {
                        this.$swal({
                            icon: 'error',
                            title: 'Error',
                            text: 'Algo salió mal',
                        });
                    })
                }
            });
        }
    },

    filters: {
        formatearFecha: (fecha) => {
            return moment(fecha).format("DD/MM/YYYY H:mm");
        }
    },

    created() {
        this.getResults();
        this.getCierre();
    }
}
</script>

<style scoped>

</style>
