<template>
    <div>
        <compras-listado></compras-listado>
    </div>
</template>

<script>
import ComprasListado from "../components/compras/ComprasListado";
export default {
    name: "PaginaCompras",
    components: {ComprasListado}
}
</script>

<style scoped>

</style>
