<template>
    <marcas-listado></marcas-listado>
</template>

<script>
import MarcasListado from "../components/marcas/MarcasListado";

export default {
    name: "PaginaMarcas",

    components:{
        MarcasListado
    }
}
</script>

<style scoped>

</style>
