<template>
    <div>
        <productos-disponibles-listado></productos-disponibles-listado>
    </div>
</template>

<script>
import ProductosDisponiblesListado from "../components/productos/ProductosDisponiblesListado";

export default {
    name: "PaginaVentas",
    components: {
        ProductosDisponiblesListado
    }
}
</script>

<style scoped>

</style>
