<template>
    <div class="content">
        <h1 class="m-0 text-dark">Venta #{{ venta_id }}</h1>

        <div class="row my-3">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 my-2">
                <button class="btn btn-block btn-success" @click="emitirFactura"
                 :disabled="estaDeshabilitado">Imprimir factura</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 my-2">
                <button class="btn btn-block btn-danger" @click.prevent="generarPdf()">Imprimir pdf</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 my-2">
                <button class="btn btn-block btn-primary" @click.prevent="imprimirTicket()">Imprimir ticket</button>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <th>Código</th>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Cantidad</th>
                    <th>Precio vta.</th>
                    <th>Subtotal</th>
                    </thead>
                    <tbody>
                    <tr v-for="producto in venta.productos" :key="producto.id">
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.marca.nombre }}</td>
                        <td>{{ producto.venta.cantidad }}</td>
                        <td>${{ producto.venta.precio_unitario }}</td>
                        <td>${{ producto.venta.total }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="table-success text-bold" style="font-size: 1.2em">
                        <td colspan="6">Total</td>
                        <td>${{ venta.total }}</td>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</template>

<script>
export default {
    name: "PaginaDetalleVenta",

    data(){
        return {
            venta_id: this.$route.params.id,
            venta: '',
        }
    },

    computed: {
        estaDeshabilitado(){
            return this.venta.afip !== null;
        }
    },

    methods:{
        getVenta(){
            this.$store.dispatch('loading/cargar');
            axios.get('/api/ventas/' + this.venta_id).
                then(result => {
                    this.venta = result.data.data;
                    this.$store.dispatch('loading/finCargando');
            })
        },

        generarPdf(){
            axios.get('/api/pdf/'+this.venta_id, {responseType: 'blob'})
                .then(response => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'venta.pdf'); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                }).catch(errors => {

            });
        },

        emitirFactura(){
            axios.post('/api/facturacion', {
                venta_id: this.venta_id
            })
                .then(response => {
                    this.venta = response.data.data;
                    this.imprimirTicket();
                }).catch(error => {

                this.$swal({
                    icon: 'error',
                    title: 'Error',
                    text: error.response.data.message,
                });
            });
        },

        imprimirTicket(){
            axios.post('https://localhost/impresora/public/imprimir', {
                venta: this.venta
            }).then(response => {
                console.log(response)
            })
        }
    },

    mounted() {
        this.getVenta();
    }
}
</script>

<style scoped>

</style>
