<template>
    <div>
        <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="m-0 text-dark">Nueva compra</h1>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCrearProducto">
                    Crear producto
                </button>
            </div>
        </div>

        <form @submit.prevent="guardarCompra()">
            <table class="table table-bordered">
                <thead>
                <th class="w-25">Producto</th>
                <th>Cantidad</th>
                <th>Precio total</th>
                <th>Precio unitario</th>
                <th></th>
                </thead>
                <tbody>
                <tr v-for="(item, index) in form.datos" :key="index" v-if="form.datos[index].visible">
                    <td>
                        <v-select
                            :options="productos"
                            @search="getProductos"
                            v-model="form.datos[index].producto_id"
                            :reduce="producto => producto.id"
                            :required="true"
                        >
                            <div slot="no-options">No se encontraron resultados</div>
                        </v-select>
                        <has-error :form="form" :field="`datos.${index}.producto_id`"></has-error>
                    </td>
                    <td>
                        <input type="number" class="form-control" step="1" min="1"
                               v-model.number="form.datos[index].cantidad" :class="{ 'is-invalid': form.errors.has(`datos.${index}.cantidad`) }">
                        <has-error :form="form" :field="`datos.${index}.cantidad`"></has-error>
                    </td>

                    <td>
                        <input type="number" class="form-control" step=".01" min=".01"
                               v-model.number="form.datos[index].precio_total" :class="{ 'is-invalid': form.errors.has(`datos.${index}.precio_total`) }">
                        <has-error :form="form" :field="`datos.${index}.precio_total`"></has-error>
                    </td>

                    <td>
                        <input type="number" class="form-control" step=".01" min=".01"
                               v-model.number="form.datos[index].precio_unitario" :class="{ 'is-invalid': form.errors.has(`datos.${index}.precio_unitario`) }">
                        <has-error :form="form" :field="`datos.${index}.precio_unitario`" ></has-error>
                    </td>

                    <td>
                        <span class="fas fa-times-circle fa-2x text-danger cursor" @click="eliminarFila(index)" v-if="index != 0" title="Eliminar"></span>
                        <span class="fas fa-plus-circle fa-2x text-success cursor" @click="agregarCompra" title="Agregar producto"></span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="mx-auto">
                <button class="btn btn-primary btn-block"
                        type="submit">
                    Guardar</button>
            </div>
        </form>



        <modal-crear-producto></modal-crear-producto>

    </div>
</template>

<script>
import ModalCrearProducto from "../components/productos/ModalCrearProducto";
import vSelect from 'vue-select';
import Form from "vform/src/Form";

export default {
    name: "PaginaNuevaCompra",
    components:{
        ModalCrearProducto,
        vSelect
    },

    computed:{
        habilitarBtnAgregarCompra(){
            return this.compra.producto_id !== "" && this.compra.cantidad !== "" && this.compra.precio_unitario !== "" && this.compra.precio_total !== "";
        },
        habilitarGuardar(){
            return this.form.length > 0;
        }
    },

    data() {
        return {
            form: new Form({
                datos:[
                    {
                        producto_id: "",
                        cantidad: "",
                        precio_unitario: "",
                        precio_total: "",
                        visible: true
                    }
                ]
            }),
            productos: [],
            
        }
    },


    methods: {

        agregarCompra() {
            this.form.datos.push({
                producto_id: "",
                cantidad: "",
                precio_unitario: "",
                precio_total: "",
                visible: true
            });
        },

        eliminarFila(index){
            this.form.datos.splice(index, 1);
        },

        cerrarModal(){
            $("#modalCrearProducto").modal('hide');
            this.limpiarForm();
        },

        guardarCompra(){
            this.form.post('/api/compras')
                .then(response => {
                    this.$swal({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'Su compra se genero exitosamente',
                        confirmButtonColor: 'green',
                    }).then((result) => {
                        if (result.value) {
                            this.$router.push('/compras')
                        }
                    });
                })
                .catch(response => {
                    this.$swal({
                        icon: 'error',
                        title: 'Error',
                        text: 'Algo salió mal',
                    })
                })
        },

        getProductos(search, loading = true){
            axios.get('/api/productos/buscar', {
                params: {
                    search: search
                }
            }).then(response => {
                this.productos = response.data.data;
            })
        },

    }
}
</script>

<style scoped>

</style>
