<template>
    <div>
        <productos-listado />
    </div>
</template>

<script>
import ProductosListado from "../components/productos/ProductosListado";

export default {
    name: "PaginaProductos",
    components: {
        ProductosListado
    }
}
</script>

<style scoped>

</style>
