<template>
    <categorias-listado></categorias-listado>
</template>

<script>

import CategoriasListado from "../components/categorias/CategoriasListado";

export default {
    name: "PaginaCategorias",

    components:{
        CategoriasListado
    }
}
</script>

<style scoped>

</style>
