<template>
    <div class="content">
        <div class="row">
            <div class="col">
                <h1 class="m-0 text-dark">Ventas</h1>
            </div>
            <div class="col text-right">
                <button class="btn btn-success" @click="newModal">
                    Nuevo usuario
                    <i class="fas fa-user-plus fa-fw"></i>
                </button>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Register at</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users.data" :key="user.id">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ parseInt(user.is_admin) ? 'Admin' : 'Vendedor' }}</td>
                        <td>{{ user.created_at | formatearFecha }}</td>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm" @click="editModal(user)">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a href="#" class="btn btn-danger btn-sm" @click="deleteUser(user.id)">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <pagination :data="users" @pagination-change-page="getResults"
                            :limit="4">
                </pagination>

            </div>
            <!-- /.row -->
        </div>

        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" v-html="editMode ? 'Actualizar usuario' : 'Crear nuevo usuario'"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateUser() : createUser()">
                        <div class="modal-body">
                            <div class="form-group">
                                <input v-model="form.name" type="text" name="name" placeholder="Nombre"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.email" type="email" name="email" placeholder="Correo"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <select v-model="form.is_admin" name="is_admin" id="is_admin" class="form-control" :class="{ 'is-invalid': form.errors.has('is_admin') }">
                                    <option value="">Seleccionar un rol</option>
                                    <option value="1">Administrador</option>
                                    <option value="0">Vendedor</option>
                                </select>
                                <has-error :form="form" field="is_admin"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.password" type="password" name="password" placeholder="Password"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                <has-error :form="form" field="password"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            <button type="submit" :class="[editMode ? 'btn btn-success' : 'btn btn-primary']"
                                    v-html="editMode ? 'Actualizar' : 'Crear'"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Form from "vform/src/Form";
import pagination from "../components/pagination/LaravelVuePagination"

export default {
    name: "PaginaUsuarios",
    components:{
        pagination
    },

    filters: {
        formatearFecha: (fecha) => {
            return moment(fecha).format("DD/MM/YYYY H:mm");
        }
    },

    data(){
        return {
            users: {},
            form: new Form({
                id: '',
                name: '',
                email: '',
                password: '',
                is_admin: ''
            }),
            editMode: false,
        }
    },

    methods: {
        getResults(page = 1){
            this.$store.dispatch('loading/cargar');
            axios.get('api/usuarios?page=' + page)
                .then(response => {
                    this.users = response.data;
                    this.$store.dispatch('loading/finCargando');
                });
        },

        updateUser(){
            this.form.put('api/usuarios/'+this.form.id)
                .then(() => {
                    $('#addNew').modal("hide");

                    this.$swal({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'El usuario fue registrado',
                    });

                    this.getResults();
                })
                .catch(() => {
                    this.$swal({
                        icon: 'danger',
                        title: 'Error',
                        text: 'Ocurrio un error',
                    });
                });
        },

        editModal(user){
            this.editMode = true;
            this.form.reset();
            $("#addNew").modal("show");
            this.form.fill(user);
        },

        newModal(){
            this.editMode = false;
            this.form.reset();
            $("#addNew").modal("show");
        },

        deleteUser(id){
            this.$swal({
                title: '¿Esta seguro que quiere eliminar el usuario?',
                text: "No podra revertir esta accion!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Si, eliminarlo!'
            }).then((result) => {
                if (result.value) {
                    this.form.delete('/api/usuarios/'+id)
                        .then(() => {
                            this.$swal(
                                'Eliminado!',
                                'El usuario fue eliminado.',
                                'success'
                            );
                            this.getResults();
                        })
                        .catch(() => {
                            this.$swal({
                                icon: 'danger',
                                title: 'Error',
                                text: 'Ocurrio un error',
                            });
                        });
                }
            })
        },

        createUser(){
            this.form.post('api/usuarios')
                .then(() => {

                    $('#addNew').modal("hide");

                    this.$swal({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'El usuario fue registrado',
                    });

                    this.getResults();
                })
                .catch(() => {

                });
        },
    },

    created(){
        this.getResults();
    }
}
</script>

<style scoped>

</style>
