<template>
    <div>
        <h1 class="m-0 text-dark">Resumen</h1>
        <carrito-listado />
    </div>
</template>

<script>
import CarritoListado from "../components/carrito/CarritoListado";

export default {
    name: "ResumenPedido",
    components: {
        CarritoListado
    }
}
</script>

<style scoped>

</style>
