<template>
    <div class="card" v-if="show">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                    <label>Producto</label>
                    <v-select
                        :options="productos"
                        @search="getProductos"
                        v-model="compra.producto_id"
                        :reduce="producto => producto.id"
                        :required="true"
                    >
                        <div slot="no-options">No se encontraron resultados</div>
                    </v-select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" step=".01" min="1" v-model.number="compra.cantidad">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                    <label>Precio total</label>
                    <input type="number" class="form-control" step=".01" min="1" v-model.number="compra.precio_total">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                    <label>Precio unitario</label>
                    <input type="number" class="form-control" step=".01" min="1" v-model.number="compra.precio_unitario">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-12">
                    <button class="btn btn-danger" @click="eliminarComponente" v-if="id != 0">Eliminar</button>
                    <button class="btn btn-success" :disabled="!deshabilitarAgregarCompra" @click="agregarItem">Agregar producto</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select';
import { mapActions } from 'vuex';

export default {
    name: "NuevaCompra",
    components:{
        vSelect
    },

    props:['id'],

    data(){
        return {
            productos: [],
            compra: {
                producto_id: "",
                cantidad: "",
                precio_unitario: "",
                precio_total: "",
            },
            show: true
        }
    },

    computed:{
        deshabilitarAgregarCompra(){
            return this.compra.producto_id !== "" && this.compra.cantidad !== "" && this.compra.precio_unitario !== "" && this.compra.precio_total !== "";
        }
    },

    watch:{
        deshabilitarAgregarCompra(valor){
            this.$emit("habilitarBtnGuardar", valor);
            this.$emit("enviarCompra", this.compra);
        },
    },

    created() {
        this.$emit("habilitarBtnGuardar", false);
    },

    methods:{
        ...mapActions('compras', ['agregarCompra', 'eliminarCompra']),

        getProductos(search, loading = true){
            axios.get('/api/productos/buscar', {
                params: {
                    search: search
                }
            }).then(response => {
                this.productos = response.data.data;
            })
        },

        eliminarComponente() {
            this.$swal({
                icon: 'warning',
                title: 'Advertencia',
                text: '¿Esta seguro que quiere eliminar este item?',
                confirmButtonColor: '#dd3333',
            }).then((result) => {
                if (result.value) {
                    this.$emit('eliminarItem', this.compra);
                    this.show=false;
                }
            });

        },

        agregarItem() {
            this.$emit('agregarCompra');
        }
    }

}
</script>

<style scoped>

</style>
