<template>
    <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.marca.nombre }}</td>
        <td>{{ producto.categoria.nombre }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>${{ producto.precio }}</td>
        <td>
            <input type="number" v-model.number="cantidad" min="0" :disabled="esta_cerrada" :max="cantidadMaxima" class="form-control-sm w-50">
            <button class="btn btn-success btn-sm" :disabled="estaDeshabilitado" @click="agregarAlCarrito()">Agregar</button>
        </td>
    </tr>
</template>

<script>

import { mapActions } from 'vuex';

export default {
    name: "Producto",
    props: ["producto", "esta_cerrada"],

    data(){
        return {
            cantidad: 0
        }
    },

    computed:{
        cantidadMaxima(){
            return this.producto.cantidad;
        },

        estaDeshabilitado() {
            return this.cantidad === 0 || this.cantidad > this.producto.cantidad;
        }
    },

    methods: {

        ...mapActions('carrito', ['agregarArticuloAlCarrito']),

        agregarAlCarrito() {
            this.agregarArticuloAlCarrito({
                producto: this.producto,
                cantidad: this.cantidad
            })
        }
    }
}
</script>

<style scoped>

</style>
