<template>
    <div class="content">
        <div class="row">
            <div class="col">
                <h1 class="m-0 text-dark">Ventas</h1>
            </div>
            <div class="col text-right">
                <router-link :to="{name:'venta_nueva'}" class="btn btn-success">Nueva venta</router-link>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <th>Código</th>
                    <th>Total</th>
                    <th>Cant. productos</th>
                    <th>Forma de pago</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Opciones</th>
                    </thead>
                    <tbody>
                    <tr v-for="venta in ventas.data" :key="venta.id">
                        <td>{{ venta.id }}</td>
                        <td>${{ venta.total }}</td>
                        <td>{{ venta.productos_count }}</td>
                        <td>{{ venta.forma_de_pago.nombre }}</td>
                        <td>{{ venta.usuario.name }}</td>
                        <td>{{ venta.created_at | formatearFecha }}</td>
                        <td>
                            <router-link :to="{name:'venta', params:{id:venta.id}}" class="btn btn-info btn-sm" title="Detalle" >
                                <i class="fas fa-eye"></i>
                            </router-link>
<!--                            <button class="btn btn-danger btn-sm" title="Eliminar" @click="eliminarCompra(ventas)">-->
<!--                                <i class="fas fa-trash"></i>-->
<!--                            </button>-->
                        </td>
                    </tr>
                    <tr v-if="esta_vacio">
                        <td colspan="6">No se encontraron resultados</td>
                    </tr>
                    </tbody>
                </table>

                <pagination :data="ventas" @pagination-change-page="getResults"
                            :limit="4">
                </pagination>

            </div>
            <!-- /.row -->
        </div>
    </div>
</template>

<script>
import pagination from "../pagination/LaravelVuePagination";

export default {
    name: "VentasListado",
    components:{
        pagination,
    },
    data(){
        return {
            ventas: {},
            esta_vacio: true
        }
    },

    filters: {
        formatearFecha: (fecha) => {
            return moment(fecha).format("DD/MM/YYYY H:mm");
        }
    },

    methods: {
        getResults(page = 1){
            this.$store.dispatch('loading/cargar');
            axios.get('api/ventas?page=' + page)
                .then(response => {
                    this.ventas = response.data;
                    this.esta_vacio = this.ventas.data.length <= 0;
                    this.$store.dispatch('loading/finCargando');
                });
        },


        eliminarCompra(compra){
            this.$swal({
                icon: 'warning',
                title: 'Advertencia',
                text: '¿Esta seguro que quiere eliminar este producto?',
                confirmButtonColor: '#dd3333',
            }).then((result) => {
                if (result.value) {
                    console.log(compra.id)
                    axios.delete('api/compras/' + compra.id)
                        .then(response => {
                            this.$swal({
                                icon: 'success',
                                title: 'Éxito',
                                text: 'La eliminación se realizo exitosamente',
                            });
                            this.getResults();
                        }).catch(response => {
                        this.$swal({
                            icon: 'error',
                            title: 'Error',
                            text: 'Algo salió mal',
                        });
                    })
                }
            });
        }
    },

    created() {
        this.getResults();
    }
}
</script>

<style scoped>

</style>
