<template>
    <div class="vld-parent">
        <loading :active.sync="isLoading"
                 :color="'#107c44'"
                 :loader="'dots'"
                 :height="80"
                 :width="90"
        ></loading>

<!--        <label><input type="checkbox" v-model="fullPage">Full page?</label>-->
<!--        <button @click.prevent="doAjax">fetch Data</button>-->
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    name: "Cargando",

    components:{
        loading
    },

    computed: {
        ...mapGetters('loading', ['isLoading'])
    }
}
</script>

<style scoped>

</style>
