<template>
    <div class="dropdown-menu dropdown-menu-right w-100">
        <div class="dropdown-item" v-for="(item, index) in carrito" :key="index">
            <!-- Message Start -->
            <div class="media">
                <div class="media-body">
                    <h3 class="dropdown-item-title">
                        <strong><small>{{ item.producto.nombre }}</small></strong>
                        <span class="float-right text-sm text-danger cursor"
                              @click.prevent="eliminarArticuloDelCarrito(item.producto)">
                            <i class="fas fa-trash"></i>
                        </span>
                    </h3>
                    <span>{{ item.cantidad }} X ${{ item.producto.precio}}</span>
                </div>
            </div>
            <div class="dropdown-divider"></div>
        </div>
        <div class="dropdown-item">
            <h3 class="dropdown-item-title">
                <strong>Total:</strong>
                <span class="float-right">
                    ${{ carritoPrecioTotal.toFixed(2) }}
                </span>
            </h3>
        </div>
        <div class="row">
            <div class="col-6 p-0 cursor" @click="limpiarCarrito" v-if="carritoPrecioTotal > 0">
                <a class="dropdown-item dropdown-footer bg-danger text-white">
                    <strong>Limpiar carrito</strong>
                </a>
            </div>
            <div class="col-6 p-0" v-if="carritoPrecioTotal > 0">
                <router-link :to="{name: 'resumen'}"
                             class="dropdown-item dropdown-footer bg-success text-white"
                             @click.native="ocultarCarrito">
                    <strong>Concretar venta</strong>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

export default {
    name: "Carrito",

    computed: {
        ...mapGetters('carrito', ['carritoPrecioTotal']),

        ...mapState({
            carrito: state => state.carrito.carrito
        })
    },

    mounted() {
        this.setArticulosCarrito();
    },

    methods: {
        ...mapActions('carrito', [
            'setArticulosCarrito',
            'ocultarCarrito'
        ]),

        eliminarArticuloDelCarrito(producto){
            this.$swal({
                title: 'Está seguro?',
                text: "Está a punto de eliminar un articulo",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('carrito/eliminarArticuloDelCarrito', producto);
                }
            });
        },

        limpiarCarrito() {
            this.$swal({
                title: 'Está seguro?',
                text: "Está a punto de eliminar todos los productos",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('carrito/limpiarCarrito');
                }
            });
        }
    }
}
</script>

<style scoped>

    .dropdown-item{
        padding-left: 0.25rem;
    }
    .dropdown-menu {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        margin-top: 0px !important;
        width: 100% !important;
        font-size: 12px;
        padding-bottom: 0px !important;
    }
</style>
