<template>
    <tr>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.producto.descripcion }}</td>
        <td>{{ item.producto.marca.nombre }}</td>
        <td><input type="number" min="1" v-model="getCantidad" :max="item.producto.cantidad"></td>
        <td>${{ item.producto.precio }}</td>
        <td>${{ getSubtotalPedido.toFixed(2) }}</td>
        <td>
            <span class="float-right text-sm text-danger cursor"
                  @click.prevent="eliminarArticuloDelCarrito(item.producto)">
                <i class="fas fa-trash"></i>
            </span>
        </td>
    </tr>
</template>

<script>
import { mapActions } from 'vuex';
import {setCantidad} from "../../store/modules/carrito/actions";

export default {
    name: "Pedidos",
    props: ['item'],

    computed: {

        getCantidad: {
            get() {
                return this.item.cantidad;
            },

            set(value){
                this.cambiarCantidad(value);
            }
        },
        getSubtotalPedido() {
            return this.getCantidad * this.item.producto.precio;
        },


    },

    methods: {
        ...mapActions('carrito', ['setCantidad']),

        cambiarCantidad(cantidad){
            this.setCantidad({
                producto: this.item.producto,
                cantidad: cantidad
            })
        },

        eliminarArticuloDelCarrito(articulo){
            this.$swal({
                title: 'Está seguro?',
                text: "Está a punto de eliminar un articulo",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('carrito/eliminarArticuloDelCarrito', articulo);
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
