<template>
    <div class="container-fluid mt-4">
        <div class="row my-4" v-if="esta_cerrada">
            <div class="col-12">
                <div class="alert alert-danger text-center" role="alert">
                    No se puede realizar nuevas ventas. La caja está cerrada
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <label>Forma de pago</label>
                <select v-model="forma_pago_id" class="form-control">
                    <option value="seleccionar">--- Seleccionar forma de pago ---</option>
                    <option value="1">Efectivo</option>
                    <option value="2">Débito</option>
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th></th>
                </thead>
                <tbody>
                    <carrito-item v-for="(articulo, index) in carrito" :key="index" :item="articulo"/>
                </tbody>
                <tfoot>
                <tr class="text-bold bg-success">
                    <td colspan="5">TOTAL</td>
                    <td>${{ carritoPrecioTotal.toFixed(2) }}</td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary btn-block" @click="enviar" :disabled="forma_pago_id == 'seleccionar' || esta_cerrada">Concretar venta</button>
            </div>
        </div>
    </div>
</template>

<script>
import CarritoItem from "./CarritoItem";
import {mapActions, mapGetters, mapState} from "vuex";

export default {
    name: "ListadoPedidos",
    components: {
        CarritoItem
    },

    data(){
        return {
            forma_pago_id: 'seleccionar',
            esta_cerrada: false,
        }
    },

    computed: {
        ...mapState({
            carrito: state => state.carrito.carrito
        }),

        ...mapGetters('carrito', ['carritoPrecioTotal']),
    },

    methods: {

        ...mapActions("carrito", ["vaciarCarrito"]),

        enviar() {
            this.$store.dispatch('loading/cargar');
            axios.post('/api/ventas', {
                carrito: this.carrito,
                forma_pago_id: this.forma_pago_id
            })
                .then(response => {
                    this.$store.dispatch('loading/finCargando');
                    this.$swal({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'La venta fue registrada',
                        confirmButtonColor: '#3085d6',
                    }).then((result) => {
                        if (result.value) {
                            window.localStorage.clear();
                            this.vaciarCarrito();
                            this.$router.push({name:'venta', params: {id: response.data.data.id }});
                        }
                    });
                }).catch(errors => {
                    this.$store.dispatch('loading/finCargando');
                    this.$swal({
                        icon: 'error',
                        title: 'Error',
                        text: 'Pedido no encontrado',
                    });

            })
        },

        getCierre(){
            axios.get('/api/cierre')
                .then(response => {
                    console.log(response.data.data)
                    this.esta_cerrada = response.data.data.id ? true : false;
                });
        },
    },

    created() {
        this.getCierre();
    }
}
</script>

<style scoped>

</style>
