<template>
    <div class="content">
        <div class="row">
            <div class="col">
                <h1 class="m-0 text-dark">Compras</h1>
            </div>
            <div class="col text-right">
                <router-link :to="{name:'compra_nueva'}" class="btn btn-success">Nueva compra</router-link>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <th>Código</th>
                    <th>Total</th>
                    <th>Cant. productos</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Opciones</th>
                    </thead>
                    <tbody>
                    <tr v-for="compra in compras.data" :key="compra.id">
                        <td>{{ compra.id }}</td>
                        <td>${{ compra.total }}</td>
                        <td>{{ compra.productos_count }}</td>
                        <td>{{ compra.usuario.name }}</td>
                        <td>{{ compra.created_at | formatearFecha }}</td>
                        <td>
                            <button class="btn btn-info btn-sm" title="Detalle" @click="abrirModalDetalle(compra)">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" title="Eliminar" @click="eliminarCompra(compra)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr v-if="!compras.length">
                        <td colspan="6">No se encontraron resultados</td>
                    </tr>
                    </tbody>
                </table>

                <pagination :data="compras" @pagination-change-page="getResults"
                            :limit="4">
                </pagination>

            </div>
            <!-- /.row -->
        </div>
        <modal-detalle :compra_id="compra_id" @actualizarListadoCompras="getResults"></modal-detalle>
    </div>
</template>

<script>
import pagination from "../pagination/LaravelVuePagination";
import ModalDetalle from "./ModalDetalle";

export default {
    name: "ComprasListado",
    components:{
        pagination,
        ModalDetalle
    },
    data(){
        return {
            compras: {},
            compra_id: null,
        }
    },

    filters: {
        formatearFecha: (fecha) => {
            return moment(fecha).format("DD/MM/YYYY H:mm");
        }
    },

    methods: {
        getResults(page = 1){
            this.$store.dispatch('loading/cargar');
            axios.get('api/compras?page=' + page)
                .then(response => {
                    this.compras = response.data;
                    this.$store.dispatch('loading/finCargando');
                });
        },

        abrirModalDetalle(compra){
            this.showModal = true;
            this.compra_id = compra.id;
            $("#modalDetalleCompra").modal('show')
        },

        eliminarCompra(compra){
            this.$swal({
                icon: 'warning',
                title: 'Advertencia',
                text: '¿Esta seguro que quiere eliminar este producto?',
                confirmButtonColor: '#dd3333',
            }).then((result) => {
                if (result.value) {
                    console.log(compra.id)
                    axios.delete('api/compras/' + compra.id)
                        .then(response => {
                            this.$swal({
                                icon: 'success',
                                title: 'Éxito',
                                text: 'La eliminación se realizo exitosamente',
                            });
                            this.getResults();
                        }).catch(response => {
                        this.$swal({
                            icon: 'error',
                            title: 'Error',
                            text: 'Algo salió mal',
                        });
                    })
                }
            });
        }
    },

    created() {
        this.getResults();
    }
}
</script>

<style scoped>

</style>
