<template>
    <div class="container-fluid mt-4">
        <div class="modal fade" id="modalDetalleCompra" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Compra #{{ compra_id }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio unitario</th>
                                <th>Total</th>
                                <th>Opciones</th>
                                </thead>
                                <tbody>
                                <tr v-for="item in items.data" :key="item.compra.id">
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.compra.cantidad }}</td>
                                    <td>{{ item.compra.precio_unitario }}</td>
                                    <td>{{ item.compra.total }}</td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" :disabled="sePuedeEliminar" title="Eliminar" @click="eliminarItem(item.compra)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click.prevent="cerrarModal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </div>
</template>

<script>
export default {
    name: "ModalDetalle",
    props:['compra_id'],

    data(){
        return {
            items: {},
            huboCambios: false,
        }
    },

    computed:{
        sePuedeEliminar(){
            return this.items.data.length === 1;
        }
    },

    methods:{
        getCompras() {
            if(this.compra_id) {
                axios.get('api/compras/' + this.compra_id +'/productos')
                    .then(response => {
                        this.items = response.data;
                    });
            }
        },

        eliminarItem(item) {
            this.$swal({
                icon: 'warning',
                title: 'Advertencia',
                text: '¿Esta seguro que quiere eliminar este producto?',
                confirmButtonColor: '#dd3333',
            }).then((result) => {
                if (result.value) {
                    axios.delete('api/compras/' + this.compra_id +'/productos/'+item.id)
                        .then(response => {
                            this.$swal({
                                icon: 'success',
                                title: 'Éxito',
                                text: 'La eliminación se realizo exitosamente',
                            });
                            this.huboCambios = true;
                            this.getCompras();
                        }).catch(response => {
                        this.$swal({
                            icon: 'error',
                            title: 'Error',
                            text: 'Algo salió mal',
                        });
                    })
                }
            });
        },

        cerrarModal(){
            if (this.huboCambios){
                this.$emit('actualizarListadoCompras');
            }
            this.huboCambios = false;
            $("#modalDetalleCompra").modal('hide');
        }
    },

    watch:{
        compra_id: function(newVal, oldVal) {
            this.getCompras();
        }
    },

    created() {
        this.getCompras();
    }
}
</script>

<style scoped>

</style>
